body {
  background-color: var(--triada-base-color);
  margin: 0;
  margin-left: 250px;
  color: var(--body-txt-color);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

a {
  color: rgb(66, 148, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(139, 73, 246);
}

a:hover {
  color: rgb(0, 200, 255);
  /* Color cuando el ratón está sobre el enlace */
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1px;
}

h1 {
  text-align: center;
  padding: 10px;
}
 */
input[type="file"] {
  display: none;
}