.mainContainer {
    position: absolute;
    border: 1px dashed rgb(12, 17, 61);
    top: 3%;
    left: 3%;
    width: 90%;
    min-width: 1000px;
    height: auto;
    background-color: #2b2a2a;
    box-shadow: 0px 0px 5px -3px rgb(255 255 255); 
    border-radius: 5px;
}

.handShake {
    padding: 10px;
}

.blockItem {
    display: flex;
    align-items: center;
    margin: 1px;
}

.blockItem-desc,
.blockItem-tittle,
.blockItem-columns {
    width: 44%;
    padding-left: 1%; 
    border-radius: 5px;
}

.blockItem-tittle {
    background-color: rgb(63 161 227);
    color: #2b2a2a;
}

.blockItem-columns {
    background-color: rgb(20, 71, 100);
    font-size: 10px;
}

.blockItem-state {
    width: 10%;
    display: flex;
    justify-content: center;
}

.blockItem-state-button {
    width: 50%;
    background-color: rgb(170, 0, 0);
    border-radius: 15%;
    margin: 1px;
    text-align: center;
    font-weight: 600;
    color: black;
    transition: all 500ms ease;
}

.blockItem-state-button.active {
    background-color: rgb(0, 161, 27);
    color: whitesmoke;
}

/* .blockItems-tittle { 
    border: 1px dashed rgb(192, 38, 38);
    width: 100%; 
    text-align: center; 
} */

.textarea {
    resize: vertical;
    width: 44%;
    margin: 1px;
    background-color: rgb(88, 88, 88);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: medium;
    height: 20px;
    border-radius: 5px;
}

.textInput,
.textInput-num,
.textInput {
    margin: 1%;
    margin-right: 5%;
    width: 15%;
}

.textInput-num {
    width: 2%;
    margin-right: 1%;
}


/* .textInput {
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
    padding-left: 1%;
    height: 20px;
    margin-left: 1%;    
    width: 7%;
}
.textInput-n{ 
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
    padding-left: 1%;
    height: 20px;
    margin-left: 1%;  
    margin-right: 3%;    
    width: 1%;
}
 */

/* 

.tittleBlock-double { 
    border: 1px dashed rgb(151, 5, 235);
    color: rgb(183, 0, 255);
    width: 45%;
    display: flex;
}

.container-headBlock {
    border: 1px dashed rgb(235, 185, 5);
    color: rgb(255, 140, 0);
    width: 100%;
}
.container-headBlock-double { 
    border: 1px dashed rgb(151, 5, 235);
    color: rgb(255, 255, 255);
    width: 45%;
    display: flex;
}
.container-headBlock-double .text{ 
    border: 1px dashed rgb(194, 124, 235);
    color: rgb(204, 104, 243); 
}
.container-headBlock-double .unit{ 
    border: 1px dashed rgb(194, 124, 235);
    color: rgb(204, 104, 243); 
    right: 46%;
    position: absolute;
}

.container-block {
    border: 1px dashed rgb(93, 235, 5);
    color: rgb(191, 255, 0);
    width: 100%;
    display: flex;
}

.container-content {
    border: 1px dashed rgb(130, 28, 255);
    color: rgb(191, 255, 0);
    width: 45%;
} */