/* 
Triada color
base:#A8BA2D

1:#BA372D
2:#2D70BA
3b:#A8BA2D
4:#5F653A
5:#3B2D2B


04a300
*/


:root {
    --primary-color: rgb(54, 54, 54);
    --secondary-color: #2ecc71;
    --accent-color: aqua;
    /* --background-color: rgb(43 42 42);
    --background-color-1: rgb(54, 54, 54); */
    --background-color: #343541;
    --mainContainer2-color: #3A4F65;
    --description-color: rgb(247, 238, 248);
    --txtInput-color: #343541;
    /* --boxArea-color: rgb(99, 100, 206);#4f67d7  c7c7c7*/
    --boxArea-color: #A8BA2D;
    /* --team-color: #1473E6; var(--body-txt-color)*/
    --team-color: #2D70BA;
    --buttons-color: #3A4F65;

    --line-anim-size: 7px;
    --line-anim-color: lime;

    --triada-base-color: #A8BA2D;
    --triada1-color: #BA372D;
    --triada2-color: #2D70BA;
    --triada4-color: #5F653A;
    --triada5-color: #3B2D2B;


    --body-color: #343541;
    --body-txt-color: #c7c7c7;
    /*--body-txt-color: whitesmoke;*/
    --mainContainer-color: #3e404f;
    --unit1-color: #04a300;
    --unit2-color: #336bff;

}


.flex {
    display: flex;
    align-items: center;
}

.center {
    justify-content: center;
}

.spacebtw {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.paddingL {
    padding-left: 20px;
}

.noMargin {
    margin: 0;
}

.rightpos {
    position: absolute;
    right: 20px;
    top: 20px;
}

.handshake {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    justify-items: center;
    padding: 5px 0 7px 10px;
    border-radius: 10px;
    padding: 10px;
}

.app {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
}


.header {
    padding: 10px;
    margin-left: 230px;
}

.fileMetadata {
    padding: 10px;
}

.fileContent {
    border-radius: 13px;
    border: 1px solid #000000;
    background-color: #383945;
    margin: 10px;
    padding: 5px;
    /* background-color: var(--triada-base-color);
    padding: 7px;
    color: black; */
}

.fileBody {
    border: 2px solid #04040400;
    border-radius: 10px;
    /* margin: 3px;
    padding: 3px;  
    background-color: var(--background-color);
    color: var(--body-txt-color); */
}

/* 
SIDE BAR
*/
.sideBarLeft {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    padding-top: 42px;
    z-index: 1;
    background-color: var(--triada-base-color);
    /* background-color: var(--triada2-color); */
}

.sidebarBox {
    padding: 10px;
}


/* 
mainContainer
*/

.mainContainer {
    width: 1050px;
    position: relative;
    margin: auto;
}

.mainContainer.window {
    padding: 10px;
    background-color: var(--mainContainer-color);
    border-radius: 15px;
}


.UnitPlantWindow {
    top: 10px;
    left: 255px;
    position: fixed;
    padding: 7px;
    border-radius: 15px;
    z-index: 2;
}

.isDraggable {
    /* box-shadow: 0px 0px 5px 5px #000000; */
    box-shadow: 0px 0px 5px 5px #5e6915;
}

.isDraggable:hover {
    cursor: grab;
}

.isDragging:hover {
    cursor: grabbing;
}

.UnitPlantWindow.main1 {
    background-color: rgb(200 200 200);
    border: 2px solid rgba(100, 100, 100, 0.5);
}

.UnitPlantWindow.main1.isDragging {
    background-color: rgba(200, 200, 200, 0.5);
}


.UnitPlantWindow.unit1 {
    background-color: rgb(15, 134, 12);
    border: 2px solid rgba(6, 224, 2, 0.5);
}

.UnitPlantWindow.unit1.isDragging {
    background-color: rgba(6, 224, 2, 0.5);
}

.UnitPlantWindow.unit2 {
    background-color: rgb(40 80 187);
    border: 2px solid rgb(0 68 255);
}

.UnitPlantWindow.unit2.isDragging {
    background-color: rgba(0, 68, 255, 0.5);
}

.UnitPlantWindowBar {
    position: absolute;
    right: 15px;
    top: 5px;
}

/* 
AREAS
*/


.areas-container {
    background-color: transparent;
    /* color: #000000; */
}

.area {
    margin: 7px 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    /*padding: 3px;
    border: 2px solid #000000; 
    border: 1px solid #595959;
    box-shadow: -4px -4px 3px -5px white;
    box-shadow: 0px 0px 5px 1px black;*/
}

.area-tittle {
    display: grid;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    grid-template-columns: 45% 11% auto 10%;
    padding: 3px;
    border-radius: 7px;
    /* border: 1px solid whitesmoke; */
}

.area-tittle.main1 {
    background-color: var(--triada-base-color);
    color: black;
    /* background-color: transparent; */
}

.area-tittle.unit1 {
    background-color: var(--unit1-color);
}

.area-tittle.unit2 {
    background-color: var(--unit2-color);
}


.area-tittle.expand {
    border-radius: 7px 7px 0 0;
}

.area-items-container {
    padding: 0px 3px;
}

.area-items {
    display: grid;
    grid-template-columns: 45% 10% auto;
    align-items: center;
    padding: 3px;
    /* border: 1px solid var(--background-color);  
    border-bottom: 1px solid var(--background-color);*/
    border-bottom: 1px solid #595959;
}



/* 
RESIZABLE   
*/

.resizableWindow {
    scale: .8;
    width: 1%;
    height: 1%;
}

.react-resizable {
    overflow: hidden;
    padding: 5px;
}

.react-resizable-handle {
    position: fixed !important;
    bottom: 2px !important;
    right: 2px;
    /* width: 10px;
    height: 10px;
   z-index: 12; */
    /* color: red; 
    border-radius: 8px 0px;
    background-color: #343541;*/
}

/* .react-resizable-handle:hover {
    cursor: move;
}


MULTIMEDIA   
*/

.media {
    margin-top: 5px;
    padding: 10px;
    pointer-events: all;
    opacity: 1;
}

.media.closed {
    padding-bottom: 0;
}

.media-container {
    border-radius: 0px 7px 7px 7px;
    padding: 5px;
    border: 1px solid #686868;
    background-color: var(--triada-base-color);
}

.mediaIO-bar {
    background-color: #343541;
    color: var(--body-txt-color);
    border-radius: 5px;
    margin: 3px 0 5px 0;
    padding: 0px 2px 3px 2px;
}

.media-items-container {
    border-radius: 5px;
    background-color: #343541;
    display: flex;
    flex-wrap: wrap;
}

.media-item {
    height: 120px;
    /* width: 10rem;
    margin: 7px 0px 3px 7px;
    border: 1px solid #686868;*/
    border-radius: 7px;
}

.media-item:hover {
    box-shadow: 0px 0px 3px 2px #878787;
}

.media-tab-bar {
    background-color: transparent;
}

.media-tab {
    border-radius: 10px 10px 0px 0px;
    font-size: small;
    height: 1.1rem;
    padding: 0px 10px;
    border: 1px solid #757575;
    border-bottom: none;
    margin-right: -1px;
    margin-bottom: -1px;
}

.media-tab.active {
    background-color: var(--triada-base-color);
    color: #000000;
    /* border: none; */
    border-bottom-color: var(--triada-base-color);

}

.media-tab:hover {
    cursor: pointer;
}

.media-audio {
    height: 30px;
    width: 285px;
    /* margin: 10px; 
    margin-bottom: 0;  */
}

.media-caption {
    font-size: 10px;
    padding-left: 3px;
}

.media-figure {
    margin: 5px;
    border-radius: 10px;
    /* width: min-content; */
    border: 1px solid #757575;
    padding: 3px;
    background-color: black;
}

/* margin: 0;
    width: min-content;
FILE IO
*/
.fileTransfer {
    padding: 5px 5px;
    margin-top: 1rem;
    align-items: center;
}


/* 
BUTTONS
*/

.button {
    margin: 2px;
    padding: 3px 5px;
    border-radius: 7px;
    border: 1px solid #595959;
    font-size: .7rem;
    background-color: transparent;
    transition: all 200ms ease;
}

.button:hover {
    cursor: pointer;
    background-color: var(--triada-base-color);
    color: #000;
}

.button.files {
    color: whitesmoke;
}

.button.files:hover {
    color: black;
}

.button.expandArea {
    border: none;
}

.button.sidebar {
    width: 95px;
    color: #000;
}

.button.sidebar:hover {
    border: 1px solid #e7ff44;
}

.button.states:hover,
.button.expandArea:hover {
    background-color: transparent;
    scale: 1.3;
}



.button.states {
    font-size: 1.1rem;
    padding: 0 2px;
    border: none;
}

.button.media {
    border: none; 
    color: white;
}

.button.socket {
    color: #000;
}

.button.docComplete {
    color: var(--triada1-color);
    border: 3px solid var(--triada1-color);
    width: auto;
    height: 37px;
    border-radius: 30px;
    margin-top: 7px;
}

.button.docComplete.isComplete {
    color: var(--triada-base-color);
    border: none;
    margin: 0;
    border: 3px solid var(--triada-base-color);
}

.button.docComplete:hover {
    background-color: transparent; 
    border-width: 1px;

}





/* 
TEXT INPUNTS
*/

input {
    margin: 0 5px;
    padding: 1px 2px 2px 7px;
    border-radius: 5px;
    font-family: system-ui;
    border: 1px solid rgb(0, 0, 0);
    font-size: .7rem;
    height: 15px;
    outline: none;
}

.input-num {
    width: 1rem;
}

.input-socket {
    margin-top: 5px;
    border: 1px solid rgb(255 255 255);
}

textarea {
    resize: vertical;
    height: 1.2rem;
    width: 97%; 
    padding: 1px 0px 1px 15px;
    font-family: system-ui;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0); 
    color: var(--body-txt-color);
    overflow: hidden;
}

.textarea-socket {
    margin: 5px 0;
    color: black;
    resize: both;
    height: 1rem;
    width: auto;
    font-size: .7rem;
    background-color: white;
    border: 1px solid rgb(255 255 255);
    border-radius: 5px;
}


textarea:focus,
input:focus {
    background-color: rgb(10 10 10);
    color: limegreen;
} 

.textarea-button {
    position: absolute;
    right: -3px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    color: #ffffff;
    background-color: transparent;
}

.textarea-button:hover {
    cursor: pointer;
    scale: 1.5;
}

.textarea-container {
    position: relative;
}


.datepicker {
    padding: 5px;
    border: 1px solid #343541;
    border-radius: 10px;
}


/* 
SOCKET ITERFACE
*/

.socket-interface {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #748500;
    background-color: var(--triada-base-color);
    color: #000;
    position: fixed;
    z-index: 1;
    top: 130px;
    left: 5px;
}

.socket-container {
    position: relative;
}

.socket-box {
    font-size: .7rem;
    margin-top: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.socket-list {
    max-height: 5rem;
    overflow-y: auto;
    color: limegreen;
    background-color: black;
    padding-inline-start: 25px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 3px 0px;
}


/* 
RESERVE DOC STATE
*/
.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.enabled {
    pointer-events: all;
    opacity: 1;
}

.enablePdf {
    opacity: 1;
}

/* 
FIRMA SEG
*/
.segSing { 
 border-radius: 10px;
 margin: 0;
 /* background-color: black;  */
}



hr {
    border: 1px solid #575757;
    margin: 0;
}

.loading {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 230px; 
    font-size: 8rem;  
   }
   .loadingtext {   
    font-size: 3rem;
   }

/* .react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    border: 1px solid rgb(103 103 103); 
    color: rgb(0, 161, 27) !important;
}*/

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 850px) {



    .handshake {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* .flex-spacebtw,
    .flex-center, */
    .flex {
        flex-direction: column;
    }

    .sideBar-fixed-elements {
        position: relative;
    }

    .app {
        flex-direction: column;
    }

    .header {
        left: auto;
    }

    .area-tittle {
        font-size: 0.6rem;
    }

    textarea {
        width: 95%;
        font-size: 0.6rem;
    }

    .mainContainer {
        font-size: 0.6rem;
    }
}



/* 

.textInput {
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
    padding-left: 1%;
    height: 20px;
    margin-left: 1%;    
    width: 7%;
}
.textInput-n{ 
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
    padding-left: 1%;
    height: 20px;
    margin-left: 1%;  
    margin-right: 3%;    
    width: 1%;
}
 */

/* 

.tittleBlock-double { 
    border: 1px dashed rgb(151, 5, 235);
    color: rgb(183, 0, 255);
    width: 45%;
    display: flex;
}

.container-headBlock {
    border: 1px dashed rgb(235, 185, 5);
    color: rgb(255, 140, 0);
    width: 100%;
}
.container-headBlock-double { 
    border: 1px dashed rgb(151, 5, 235);
    color: rgb(255, 255, 255);
    width: 45%;
    display: flex;
}
.container-headBlock-double .text{ 
    border: 1px dashed rgb(194, 124, 235);
    color: rgb(204, 104, 243); 
}
.container-headBlock-double .unit{ 
    border: 1px dashed rgb(194, 124, 235);
    color: rgb(204, 104, 243); 
    right: 46%;
    position: absolute;
}

.container-block {
    border: 1px dashed rgb(93, 235, 5);
    color: rgb(191, 255, 0);
    width: 100%;
    display: flex;
}

.container-content {
    border: 1px dashed rgb(130, 28, 255);
    color: rgb(191, 255, 0);
    width: 45%;
} */